/* header */
.header-products{
  background-color: #0e203276;
  padding: 10px 0;
  width: 100%;
}

header div h1 img{
  width:80px;
}

.barra-nav{
  position: relative;
  width: 100%;
  font-size: small;
  margin: 0 auto;
}

.menu{
  position: absolute;
  top: 50px;
  right: 0;
}

.menu .item{
  display: inline;
  margin: 0 0 0 12px;  
}

.nav-a{
  text-transform: uppercase;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 22px;
  text-decoration: none;
}

.nav-a:hover{
  color: #c78c19;
}

/* main */
.servicios{
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}
.servicios p{
  font-size: medium;
  margin: 20px;
}

.servicios .item-serv{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.item-serv{
  border: 2px solid black;
  border-radius: 25px;
}

.item-serv:hover{
  border-color: #c78c19;
}

.item-serv:active{
  border-color: #0e8325;
}

.item-serv:hover .servicios-encabezado{
  font-size: 33px;
}

.servicios .servicios-encabezado{
 font-size: 30px;
 font-weight: bold;
}

.servicio-descripcion{
 font-size: 18px; 
}

.servicio-precio{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* footer */
.footer{
  text-align: center;
  background: url(./imagenes/bg.jpg);
  padding: 40px;
}

.copyright{
  color: white;
  font-size: 12px;
  margin: 20px;
}

@media (min-device-width: 375px) {
  .nav-a{
    font-size: 16px;
    margin-right: 12px;
  }
  .footer{
    background-color: rgba(0, 0, 0, 0.27);
    padding: 5px;
  }
  .footer img{
    width: 100px;
  }
}

@media (max-width: 950px) {
  .servicios{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .servicios .item-serv{
    width: 70%;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .servicios .item-serv img{
    width: 200px;
  }
}